<html>

<body style="font-size:30px">

you might like {{ppp}}

<br>
{% ifequal ppp 'Tajmahal' %}
<a href=https://www.tajmahal.gov.in/ Target="a">know about Taj mahal</a>
<br>
<a href=https://www.google.com/maps/place/Taj+Mahal/@27.1751448,78.0399535,17z/data=!3m1!4b1!4m5!3m4!1s0x39747121d702ff6d:0xdd2ae4803f767dde!8m2!3d27.1751448!4d78.0421422 >view location</a>
<br>
<a href=https://www.tajmahal.gov.in/ticketing.aspx/ Target="a">Visiting Cost and more details</a>
{% endifequal %}
{% ifequal ppp 'Island Water Sports' %}
    <a href=https://www.islandwatersports.com/ Target="a">Island Water Sports</a>
<br>
<a href=https://www.google.com/maps/place/Holy+Island+Water+Sports/@9.2955367,79.3245342,17z/data=!3m1!4b1!4m5!3m4!1s0x3b01e17d7f7d6219:0x8fb8d1ce493c1ace!8m2!3d9.2955367!4d79.3267229 >view location</a>
<br>
<a href=https://www.tripadvisor.in/Attraction_Review-g54359-d4962276-Reviews-Island_Adventure_Watersports-Myrtle_Beach_South_Carolina.html Target="a">View Reviews and additional details</a>
<br>
{% endifequal %}
{% ifequal ppp 'Sondrio-Italy' %}
    <a href=https://www.britannica.com/place/Sondrio-Italy Target="a">Know about Sondrio-Italy</a>
<br>
<a href=https://www.google.com/maps/place/23100+Sondrio,+Province+of+Sondrio,+Italy/@46.1681158,9.8538733,14z/data=!3m1!4b1!4m5!3m4!1s0x47838e0adc0987af:0x1b348c4dfc1ac476!8m2!3d46.1698583!4d9.8787674>view location</a>

<br>
<a href=https://www.numbeo.com/cost-of-living/in/Sondrio-Italy Target="a">Know about Sondrio-Italy</a>
<br>
{% endifequal %}
<br>


<iframe name="a" src="/sgapp/hhh/" frameborder="1" height = "700" width = "1800">

  <p>Your browser does not support iframes.</p>
</iframe>
</body>
</html>