<html>
you might like {{f2}}
<br>
<body style="font-size:30px">
{% ifequal f2 'colonia santa maria' %}
<a href=https://www.csmgoa.com/ Target="a">know about colonia santa mari</a>
<br>
<a href=https://www.google.com/maps/place/Hotel+Colonia+Santa+Maria/@15.5540677,73.7525696,17z/data=!3m1!4b1!4m8!3m7!1s0x3bbfea048552f5cd:0x69767bc3e574fe18!5m2!4m1!1i2!8m2!3d15.5540677!4d73.7547583>View location</a>
<br>
<a href=https://www.booking.com/hotel/in/colonia-santa-maria.html Target="a">Book hotel now</a>
<br>
{% endifequal %}
{% ifequal f2 'peacock siute,Bengaluru' %}
<a href=https://www.itchotels.in/hotels/bengaluru/itcgardenia/accommodation/peacock-suite.html >know about peacock siute,Bengaluru</a>
<br>
<a href=https://www.google.com/maps/place/ITC+Gardenia,+A+Luxury+Collection+Hotel,+Bengaluru/@12.9669848,77.5933634,17z/data=!3m1!4b1!4m8!3m7!1s0x3a0276dd2cf216d3:0x523e0c08edd084f2!5m2!4m1!1i2!8m2!3d12.9669848!4d77.5955521>view location</a>
<br>
<a href=https://www.tripadvisor.in/Restaurant_Review-g297628-d2537828-Reviews-Peacock-Bengaluru_Bangalore_District_Karnataka.html Target="a">view reviews and other information</a>
<br>
{% endifequal %}
{% ifequal f2 'Hot air Balooning at Jaipur' %}
<a href=https://www.adventurenation.com/trip/hot-air-ballooning-at-jaipur >know about Hot air Balooning at Jaipur</a>
<br>
<a href=https://www.google.com/maps/search/Hot+air+Balooning+at+Jaipur/@26.8782906,75.7527932,12z/data=!3m1!4b1 >view location</a>
<br>
<a href=https://traveltriangle.com/rajasthan-tourism/jaipur/things-to-do/balloon-ride/entry-fees >view vising cost and other details</a>
<br>
<br>
{% endifequal %}
<iframe name="a" src="/sgapp/hhh/" frameborder="1" height = "700" width = "1800">

  <p>Your browser does not support iframes.</p>
</iframe>
</body>
</html>