<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
body {
background: url("/static/images/c3.png") 50% 0 no-repeat fixed;
 background-size: 100% 100%;
}

    </style>
    <title>Title</title>
</head>
<body>
<form action='/sgapp/fri/' method='GET'>
<div style = "position:absolute; left:800px; top:700px; background-color:yellow;">
<button id="b1"  type='submit' style="font-size : 18px;height:40px;width:500px">Hangout with Friends and Family</button>
</div>
</form>
<br>
<br>
<form action='/sgapp/per/' method='GET'>
<div style = "position:absolute; left:800px; top:650px; background-color:yellow;">
<button id="b2" type='submit' style="font-size : 18px;height:40px;width:500px">Hangout with your spouse</button>
</div>
</form>
</body>
</html>